In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv("Social_Network_Ads.csv")

In [3]:
ds=pd.get_dummies(ds,drop_first=True)

In [4]:
ds.drop("User ID",axis=1) #axis 1 Column, 0 Row

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0         True
1     35            20000          0         True
2     26            43000          0        False
3     27            57000          0        False
4     19            76000          0         True
..   ...              ...        ...          ...
395   46            41000          1        False
396   51            23000          1         True
397   50            20000          1        False
398   36            33000          0         True
399   49            36000          1        False

[400 rows x 4 columns]

In [5]:
ds['Purchased'].value_counts() # to check balance or inbalanced data set - inbalanced

Purchased
0    257
1    143
Name: count, dtype: int64

In [6]:
independent = ds[['Age', 'EstimatedSalary','Gender_Male']]
dependent = ds[['Purchased']]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=False)

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
param_grid = {'kernel':['linear','rbf','sigmoid','poly'], 'C':[10,100], 'gamma':['auto','scale']}
# prefer F1_weighted as it suits all case like imbalanced balanced and precision and recall method
#verbose = 3, 3 or higher	Very detailed info (step-by-step),  0	No output (silent mode), 1	Basic info (minimal messages), 2	More info (intermediate messages)
Classifier = GridSearchCV(SVC(probability=True),param_grid, refit = True, scoring='f1_weighted', n_jobs=-1, verbose = 3)
# we need to give probability=True only then we can do roc_auc , if itys False it wont work
# Creats the model
Classifier.fit(x_train,y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

In [ ]:
result = Classifier.cv_results_

In [ ]:
y_pred = Classifier.predict(x_test)

In [ ]:
# Built the matrix
from sklearn.metrics import confusion_matrix
matrix = confusion_matrix(y_test,y_pred)
print(matrix)

In [ ]:
# fetch the Classification report
from sklearn.metrics import classification_report
report = classification_report(y_test,y_pred)
print(report)

In [ ]:
# Key to built the model
from sklearn.metrics import f1_score
f1_macro = f1_score (y_test,y_pred,average='weighted')
print ("The best value for Parameter {}:".format(Classifier.best_params_),f1_macro)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score (y_test,Classifier.predict_proba(x_test)[:,1]) # : tell all rows, take 1 ist colum of all rows for probability 
print ("The best value for Parameter {}:".format(Classifier.best_params_),roc_auc)

In [ ]:
table = pd.DataFrame.from_dict(result)
table

In [ ]:
age_input=float(input("Age:"))
salary_input=float(input("Salary:"))
sex_male_input=int(input("Sex Male 0 or 1:"))

In [ ]:
Classifier.predict([[age_input,salary_input,sex_male_input]])